h1 {
    font-family: sans-serif;
    font-size: 8vh;
    text-align: center;
    top: 50px;
    margin-left: 160px;
}
.moi {
    font-family: sans-serif;
    font-size: 4vh;
    text-align: center;
    top: 50px; 
}