h1 {
    font-family: sans-serif;
    font-size: 8vh;
    text-align: center;
    top: 50px;
    margin-left: 160px;
}

.nigga{
    font-family: sans-serif;
    font-size: 6vh;
    text-align: center;
    top: 20px;
    margin-left: 160px;
}
